<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="webc.css">
</head>

<body style="background-color:black ; width:100%; overflow-x:hidden ">

  <menu id="bb">

    <img id="img" src="kfc logo.png" width="120px" alt="">
    <div id="c3">
      <img id="img2" src="dbi9.png" alt="">
      <h6 id="bc">START AN ORDER FOR DELIVERY</h6>
    </div>

    <button id="c4" type="button" class="btn btn-primary"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      Register / sign in
    </button>

    <ul>
      <li> <a style="text-decoration: none; color:inherit "
          href="https://www.kfcpakistan.com/category#everyday-value">Everyday value</a> </li>
      <li>Ala carte & combos</li>
      <li>Signature Boxes</li>
      <li>Sharing</li>
      <li>Snacks & Beverages</li>
      <li>Midnight</li>
    </ul>
  </menu>


  <h1 id="h1"> <strong id="h"> Everyday Value</strong></h1>
  <hr id="hrr">
<div id="card">
  <div id="cd1" class="card" style="width: 18rem;">
    <img id="i1" src="i1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Krunch Burger</h5>
      <p class="card-text">Crunchy chicken fillet, spicy mayo, lettuce, sandwiched between a sesame seed bun</p>
      <a id="bu1" href="#" class="btn btn-primary">Add to Bucket</a> <h5 id="pr" >RS 220</h5>
    </div>
  </div>

  <div id="cd2" class="card" style="width: 18rem;">
    <img src="i2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rice N Spice</h5>
      <p class="card-text">Spiced, buttery rice with 6 pcs of Hot Shots topped with our signature Vietnamese sauce</p>
      <a id="bu1" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 290</h5>
    </div>
  </div>

  <div id="cd3" class="card" style="width: 18rem;">
    <img src=" i3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zingeratha</h5>
      <p class="card-text">Crispy chicken, sliced onions, tangy imli chutney, mint mayo, wrapped in a soft paratha</p>
      <a id="bu1" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 290</h5>
    </div>
  </div>

  <div id="cd4" class="card" style="width: 18rem;">
    <img src=" i4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Krunch Burger + Drink</h5>
      <p class="card-text">1 Krunch burger + 1 regular drink</p>
      <a id="b1" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 300</h5>
    </div>
  </div>

  <div id="cd5" class="card" style="width: 18rem;">
    <img src="i5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Krunch With Fries N Drink</h5>
      <p class="card-text">Krunch + 1 regular Fries + 1 regular Drink</p>
      <a id="b2" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 430</h5>
    </div>
  </div>

  <div id="cd6" class="card" style="width: 18rem;">
    <img src="i6.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chicken N Chips</h5>
      <p class="card-text">2 pieces of Hot and Crispy Fried Chicken+ fries+ dinner roll+ signature Vietnamese Sauce</p>
      <a id="bu1" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 440</h5>
    </div>
  </div>

  <div id="cd7" class="card" style="width: 18rem;">
    <img src="i7.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Krunch Chicken Combo</h5>
      <p class="card-text">1 Krunch burger + 1 pc of Hot and Crispy Fried Chicken + 1 regular drink</p>
      <a id="bu1" href="#" class="btn btn-primary">Add to Bucket</a>  <h5 id="pr" >RS 460</h5>
    </div>
  </div>

  <div id="cd8" class="card" style="width: 18rem;">
    <img src="i8.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">3 Pcs Chicken</h5>
      <p class="card-text">3 pieces of Hot and Crispy Fried Chicken</p>
      <a id="b3" href="#" class="btn btn-primary">Add to Bucket</a> <h5 id="pr" >RS 470</h5>
    </div>
  </div>
</div>

<footer>

  <div id="fo1">
    <img id="ifooter" src="kfc logo.png" width="160px" alt="">
    <img id="logo" src="youtube.png" width="20px" alt="">
    <img id="logo" src="insta.png" width="20px" alt="">
    <img id="logo" src="fb.png" width="20px" alt="">
   
    <div id="ft1"></div>
    <div id="ft2">
      <h6 id="fbi">Information</h6>
      <h6>About Us</h6>
      <h6>About Us</h6>
      <h6>Privacy Policy</h6>
      <h6>Careers</h6>

    </div>
    <div id="ft3">
      <h6 id="fbi">Locations</h6>
      <h6>Contact us</h6>
      <H5 id="logo1">Find us on</H5>
     
    </div>

    <div id="ft4">
      <h6 id="fbi">Get in Touch</h6>
      <h6>
        Terms & Conditions</h6>
        <img id="dimg" src="app-store.png" alt="" width="160px">
    </div>
    
  










  </div>



</footer>

<hr style="border-width: 1px solid white  ; height: 20px; width: 30px;" ></hr>






</body>

</html>