#header{
    position: relative;
    bottom:820px;
}
#ad2{
    position: relative;
    bottom:33px;
    width: 280px;
    left: 100px;
}
#pso{
    position: relative;
    left:700px;
    bottom: 80px;
}
#urdu{
    color: white;
    font-size: large;
    position: relative;
    left: 20px;
}
#a2 ul{

    list-style-type: none;
    position: relative;
    bottom: 130px;
    left: 1000px;
}
#a2 ul li{
position: relative;
display: inline-block;
border-radius: 2px solid;
margin-right: 1%;
line-height: 1.5 em;
bottom: -5px;
color: white;

}
#hr{
    color: white;
    position: relative;
    bottom: 90px;
    

}
#hr2{
    color: white;
    position: relative;
    left: 830px;
    bottom: 100px;
}
#a3 ul{

    list-style-type: none;
    position: relative;
    bottom: 130px;
    left: 1000px;
    color: white;
}
#a3 ul li{
position: relative;
display: inline-block;
border-radius: 2px solid;
margin-right: 1%;
line-height: 1.5 em;
bottom: -5px;
color: white;

}